.row {
    display: flex;
    justify-content: center;
}

.row div {
    padding: 20px;
    margin: 10px;
    background-color: palegoldenrod;
    border-radius: 8px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color: white;
    padding: 10px;
}

body {
    margin: 0;
}

header li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}

footer {
    background-color: silver;
    padding: 20px;
}

#root {
    min-height: 600px;
    padding: 10px;
}
#orderValue {
  text-align: center;
  font-weight: bold; /* optional for better visibility */
  margin-top: 20px;  /* optional spacing */
}